<h1>Register</h1>

<form method="POST" action="/register">
    <div>
    <input placeholder="Username" type="text" name="username" id="username">
    
    </div>

    <div>
        <input placeholder="Password" type="password" name="password" id="password">
    </div>

    <div>
        <input type="submit" name="registerBtn"></input>
    </div>
</form>

<a href="/login">Login</a>